.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  border: 2px solid gray;
}

.output {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.08em;
}

.result {
  font-size: 12px;
  opacity: 0.5;
}
